h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  line-height: 1,5;
}

h1 {
  font-size: 25;
  color: #9AC8BF;
  margin-bottom:
}

h2 {
  font-size: 18;
}

h3 {
  font-size: 15;
  text-align: center;
}

table {
  font-size: 13;
  background-color: #D7E1E8;
  padding: 20px;
  margin-top: 20px;
  border-spacing: 20px;
}

body {
  background-color: #9AC8BF;
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  font-size: 13;
  text-align: center;
}

a {
  text-decoration: none;
  color: #474747;
  font-style: italic;
  margin-bottom: 60px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.social {
  font-style: normal;
}

.page-content {
  width: 650px;
  font-size: 16;
  font-weight: 400;
  margin-left: 100px;
  text-align: center;
}

.card1 {
  background-image: url(fonds_pois.jpg);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15 auto;
  font-size: 20;
  font-weight: 600;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15 auto;
}

.img-circle {
  width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

img {
  width: 200px;
  border-radius: 4px;
}

ul li{
  display: inline;
  padding: 40px;
}

tr {
  text-align: center
}

.sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}
